<!-- list_events_fragment.html -->
<div class="modern-list-events">
  {% for ev in events %}
    <div class="modern-list-event clickable-event"
        data-title="{{ ev.title }}"
        data-date="{{ ev.start_date }}"
        data-time="{{ ev.start_time }}"
        data-description="{{ ev.description|safe }}"
        data-organizer="{{ ev.organizer }}"
        data-registration="{{ ev.registration }}"
        {% if ev.image %} data-image="{{ ev.image }}" {% endif %}
        {% if ev.location %} data-location="{{ ev.location }}" {% endif %}>
        {% if ev.image_data %}
        <img src="{{ url_for('event_image', event_id=event.asana_task_gid) }}" alt="{{ ev.title }}">
        {% endif %}
      <div class="modern-list-event-content">
        <div class="event-title"><h4>{{ ev.title }}</h4></div>
        <div class="event-date-time">
          <span class="date-icon">
            <i class="fa fa-calendar" style="font-size:15px;color:#506688;"></i>
          </span>
          <span class="event-date" data-date="{{ ev.start_date }}">
            {% set edate = datetime.strptime(ev.start_date, "%Y-%m-%d") %}
            {{ edate.strftime("%B") }} {{ edate.day }}
          </span>
          <span class="time-icon">
            <i class="fa-solid fa-clock" style="font-size: 15px; color:#506688;"></i>
          </span>
          <span class="event-time" data-time="{{ ev.start_time }}">
            {% set etime = datetime.strptime(ev.start_time, "%H:%M") %}
            {{ etime.strftime("%I:%M%p").lstrip("0").lower() }}
          </span>
        </div>
        <p class="event-description">
          {{ ev.description|safe }}
        </p>
        <div class="event-date-time">
          <span class="time-icon"><i class="fa-solid fa-turn-down rotate_arrow" style="font-size: 15px; color:#506688;"></i></span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>