<!-- row_events_fragment.html -->
<div class="modern-row-events">
  {% for er in events %}
    <div class="modern-row-event clickable-event"
         data-title="{{ er.title }}"
         data-date="{{ er.start_date }}"
         data-time="{{ er.start_time }}"
         data-description="{{ er.description|safe }}"
         data-organizer="{{ er.organizer }}"
         data-registration="{{ er.registration }}"
         {% if er.image %} data-image="{{ er.image }}" {% endif %}
         {% if er.location %} data-location="{{ er.location }}" {% endif %}>
      <div class="modern-row-weekday">
        <span>{{ datetime.strptime(er.start_date, "%Y-%m-%d").strftime("%a")|upper }}</span>
        <span>{{ datetime.strptime(er.start_date, "%Y-%m-%d").day }}</span>                  
      </div>
      <div class="modern-row-event-content">
        <div class="event-title"><h4>{{ er.title }}</h4></div>
        <div class="event-date-time">
          <span class="date-icon">
            <i class="fa fa-calendar" style="font-size:15px;color:#506688;"></i>
          </span>
          <span class="event-date" data-date="{{ er.start_date }}">
            {% set edate = datetime.strptime(er.start_date, "%Y-%m-%d") %}
            {{ edate.strftime("%B") }} {{ edate.day }}
          </span>
          <span class="time-icon">
            <i class="fa-solid fa-clock" style="font-size: 15px; color:#506688;"></i>
          </span>
          <span class="event-time" data-time="{{ er.start_time }}">
            {% set etime = datetime.strptime(er.start_time, "%H:%M") %}
            {{ etime.strftime("%I:%M%p").lstrip("0").lower() }}
          </span>
        </div>
        <p class="event-description">
          {{ er.description|safe }}
        </p>
        <div class="event-date-time">
          <span class="time-icon"><i class="fa-solid fa-turn-down rotate_arrow" style="font-size: 15px; color:#506688;"></i></span>
        </div>
      </div>
      {% if er.image_data %}
      <img src="{{ url_for('event_image', event_id=event.asana_task_gid) }}" alt="{{ er.title }}">
      {% endif %}
    </div>
  {% endfor %}
</div>
